[submodule "CS210-Spring-22-23"]
	path = CS210-Spring-22-23
	url = https://github.com/simaadleyba/CS210-Spring-22-23
[submodule "CS300-Fall-23-24"]
	path = CS300-Fall-23-24
	url = https://github.com/simaadleyba/CS300-Fall-23-24
[submodule "CS412-Spring-23-24"]
	path = CS412-Spring-23-24
	url = https://github.com/simaadleyba/CS412-Spring-23-24
